@media (max-width: 991px) {
    .promo {
        padding: 21px 15px 93px 15px;
    }

    .consultation {
        padding: 70px 20px 50px 20px;

        .title {
            text-align: center;
        }

        &__descr {
            text-align: center;
        }

        .feed-form {
            margin: 0 auto;
            margin-top: 30px;
        }
    }

    .prev,
    .next {
        display: none;
    }

    .carousel {
        &__inner {
            img {
                width: 80%;
            }
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__wrapper {
            align-items: center;
        }
    }

    .header {
        align-items: center;

        &__official {
            display: none;
        }
    }
}

@media (max-width: 579px) {
    .header {
        &__phone {
            font-size: 14px;
        }

        &__logo {
            img {
                width: 90%;
            }
        }

        .button {
            width: 130px;
            height: 22px;
            font-size: 11px;
        }
    }

    .promo {
        &__title {
            font-size: 35px;
            text-align: center;
        }

        &__subtitle {
            text-align: center;
            font-size: 20px;
        }

        &__icons {
            max-width: 100%;
        }

        &__icon {
            font-size: 12px;

            img {
                margin-bottom: 10px;
            }
        }
    }

    .advan {
        padding: 30px 0;

        &__wrapper {
            margin-top: 0;
            flex-direction: column;
            align-items: center;
        }

        &__subheader {
            margin-top: 10px;
        }

        &__item {
            margin-top: 20px;
        }
    }

    .title {
        font-size: 24px;
    }

    .consultation {
        padding: 30px 0;
        min-height: 400px;

        .title {
            font-size: 18px;
            line-height: 24px;
        }

        &__descr {
            margin-top: 30px;
            font-size: 14px;
            line-height: 18px;
        }

        .feed-form {
            width: 250px;
        }
    }
}